<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= server.title %></title>
</head>
<body>
    <h1><%= server.title %></h1>

    <ul>
    <% workspaces.forEach(function(data) { %>
        <li>
            <h2><%= data.ws.name %> (<%= data.ws.id %>)</h2>
            <p><%= data.ws.description %></p>
            <p>WMS Endpoint: <a href="<%= data.url %>"><%= data.url %></a> (<a href="<%= data.url %>?service=WMS&version=1.3.0&request=GetCapabilities">GetCapabilities</a>)</p>
            
            <h3>Layers:</h3>
            <ul>
                <% data.ws.layers.forEach(function(layer) { %>
                <li>
                    <strong><%= layer.name %></strong>: <%= layer.description %>
                </li>
                <% }); %>
            </ul>
        </li>
    <% }); %>
    </ul>


</body>
</html>