<?xml version="1.0" encoding="UTF-8" ?>
<WMS_Capabilities 
    version="<%= wmsVersion %>" 
    xmlns="http://www.opengis.net/wms"
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.opengis.net/wms http://schemas.opengis.net/wms/<%= wmsVersion %>/capabilities_<%= wmsVersion.replaceAll(".", "_" ) %>.xsd">

    <Service>
        <Name>WMS</Name>
        <Title>
            <%= workspace.name || "Beacon WMS" %>
        </Title>
        <Abstract>
            <%= workspace.description || "A beacon WMS service" %>
        </Abstract>
    </Service>

    <Capability>
        <Request>
            <GetCapabilities>
                <Format>application/xml</Format>
                <Format>text/xml</Format>
                <DCPType>
                    <HTTP>
                        <Get>
                            <OnlineResource xlink:href="<%= baseUrl %>?" />
                        </Get>
                    </HTTP>
                </DCPType>
            </GetCapabilities>

            <GetMap>
                <Format>image/png</Format>
                <DCPType>
                    <HTTP>
                        <Get>
                            <OnlineResource xlink:href="<%= baseUrl %>?" />
                        </Get>
                    </HTTP>
                </DCPType>
            </GetMap>

            <GetFeatureInfo>
                <Format>text/html</Format>
                <Format>application/json</Format>
                <Format>application/vnd.ogc.gml</Format>
                <DCPType>
                    <HTTP>
                        <Get>
                            <OnlineResource xlink:href="<%= baseUrl %>?" />
                        </Get>
                    </HTTP>
                </DCPType>
            </GetFeatureInfo>
        </Request>
        <Exception>
            <Format>application/vnd.ogc.se_xml</Format>
        </Exception>
        <Layer>
            <Title>
                <%= workspace.name || "Beacon WMS layers" %>
            </Title>
            <Abstract>
                <%= workspace.description || "" %>
            </Abstract>
            <CRS>EPSG:4326</CRS>
            <CRS>EPSG:3857</CRS>
            <EX_GeographicBoundingBox>
                <westBoundLongitude>-180.0</westBoundLongitude>
                <eastBoundLongitude>180.0</eastBoundLongitude>
                <southBoundLatitude>-90.0</southBoundLatitude>
                <northBoundLatitude>90.0</northBoundLatitude>
            </EX_GeographicBoundingBox>
            <BoundingBox CRS="EPSG:4326" minx="-90.0" miny="-180.0" maxx="90.0" maxy="180.0"/>
            <BoundingBox CRS="CRS:84"   minx="-180.0" miny="-90.0" maxx="180.0" maxy="90.0"/>
            <% workspace.layers.forEach(function(layer) { %>
                <Layer queryable="1" opaque="0" cascaded="0">
                    <Name><%= layer.id %></Name>
                    <Title><%= layer.name %></Title>
                    <Abstract><%= layer.description || "A beacon layer" %></Abstract>
                    <CRS>EPSG:4326</CRS>
                    <CRS>EPSG:3857</CRS>
                    <EX_GeographicBoundingBox>
                        <westBoundLongitude>-180.0</westBoundLongitude>
                        <eastBoundLongitude>180.0</eastBoundLongitude>
                        <southBoundLatitude>-90.0</southBoundLatitude>
                        <northBoundLatitude>90.0</northBoundLatitude>
                    </EX_GeographicBoundingBox>
                    <BoundingBox CRS="EPSG:4326" minx="-90.0" miny="-180.0" maxx="90.0" maxy="180.0"/>
                    <BoundingBox CRS="CRS:84"   minx="-180.0" miny="-90.0" maxx="180.0" maxy="90.0"/>
                    <% availableStyles.forEach(function(style) { %>
                        <Style>
                            <Name><%= style.name %></Name>
                            <Title><%= style.description %> (shape: <%= layer.config.shape %>)</Title>
                        </Style>
                    <% }); %>
                    <% Object.entries(layer.config.dimension).forEach(function([name, dimension]) { %>
                      <Dimension name="<%= name %>" default="<%= dimension.default %>" units="<%= dimension.units %>">                 
                        <%= dimension.accepted.join(',') %>
                      </Dimension>
                    <% }); %>
                    <% Object.entries(layer.config.available_viewparams).forEach(function([name, param]) { %>
                      <ViewParam>
                        <Name><%= name %></Name>
                        <Type><%= param.type %></Type>
                    
                        <% if (param.format) { %>
                          <Format><%= Array.isArray(param.format) ? param.format.join(',') : param.format %></Format>
                        <% } %>
                        
                        <% if (param.allowed) { %>
                          <Allowed><%= Object.keys(param.allowed).join(',') %></Allowed>
                        <% } %>
                      </ViewParam>
                    <% }); %>                   
                </Layer>
            <% }); %>
        </Layer>
    </Capability>
</WMS_Capabilities>